:root {
    --dark-purple: #05da00;
    --light-purple: #A084CA;
    --lighter-purple: #BFACE0;
    --light-pink: #EBC7E8;
}

@font-face {
  font-family: productsans;
  src: url(Productsans.ttf);
}

.container {
    width: 100%;
    height: 100vh;
    background-size: 90% 90vh;
    background-repeat: no-repeat;
    margin-left: 10%;
}

.first {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100vh;
    flex-wrap: wrap;
}

.first .text {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #fff;
    font-size: 1.25vw;
    font-family: Uni Sans, sans-serif;
    text-align: center;
}

.first .text h5 {
    margin: 0;
    font-weight: 100;
}

.first .text h1 {
    padding: 15px 0;
    margin: 0;
    font-weight: 900;
}

.download {
    text-decoration: none;
    color: black;
    margin-top: 30px;
    padding: 20px;
}

.button2 {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px 50px;
    border-radius: 10px;
    color: #05da00;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    margin: 25px;
    font-family: "Roboto", sans-serif;
    filter: hue-rotate(0deg);
    border: 2px solid #9fff9d;
    transition: all 0.1s linear;
    font-size: larger;
  }
  
  .button2:hover {
    border: 2px solid transparent;
    cursor: pointer;
  }
  
  .button2:hover span {
    position: absolute;
    display: block;
  }
  
  .button2:hover span:nth-child(1) {
    filter: hue-rotate(0deg);
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, transparent, #3a86ff);
    animation: animate1 1s linear infinite;
  }
  
  @keyframes animate1 {
    0% {
      left: -100%;
    }
  
    50%,
    100% {
      left: 100%;
    }
  }
  
  .button2:hover span:nth-child(2) {
    filter: hue-rotate(60deg);
    top: -100%;
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #3a86ff);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
  }
  
  @keyframes animate2 {
    0% {
      top: -100%;
    }
  
    50%,
    100% {
      top: 100%;
    }
  }
  
  .button2:hover span:nth-child(3) {
    filter: hue-rotate(120deg);
    bottom: 0;
    right: 0;
    width: 100%;
    background: linear-gradient(270deg, transparent, #3a86ff);
    animation: animate3 1s linear infinite;
    animation-delay: 0.5s;
  }
  
  @keyframes animate3 {
    0% {
      right: -100%;
      height: 3px;
    }
  
    50%,
    100% {
      height: 2px;
      right: 100%;
    }
  }
  
  .button2:hover span:nth-child(4) {
    filter: hue-rotate(300deg);
    bottom: -100%;
    left: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #3a86ff);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
  }
  
  @keyframes animate4 {
    0% {
      bottom: -100%;
    }
  
    50%,
    100% {
      bottom: 100%;
    }
  }

.s1 {
  height: 100vh;
  width: 100vw;
}

.bcontainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.s2 {
  width: 100vw;
  height: 80vh;
}

.img {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 10%;
  width: 60%;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.img img {
  width: 65%;
  border-radius: 30px;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.mtext {
  color: white;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mtext h1 {
  color: #05DA00;
}  

.mtext h2 {
  font-size: 2vw;
}

.mtext h3 {
  font-weight: 100;
}

.container2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 10%;
}

.img1 img{
  width: 40vw;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  border-radius: 8px;
}
.img1 {
  margin-left: 10%;
}

.s3 {
  width: 100%;
  height: 80vh;
}

.s3 .container {
  margin-left: 10%;
  margin-right: 5vw;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  margin-left: 10vw;
  margin-right: 10vw;
}

.gallery .element {
  width: 20vw;
  height: 30vh;
  background: rgba(82, 80, 80, 0.25);
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 30px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  color: white;
  transition: all .3s;
}

.gallery .element:hover {
  box-shadow: 0 8px 32px 0 rgba(59, 255, 56, 0.37);
  scale: 1.1;
}
.gallery .element .img {
  width: 2.5vw;
  margin-left: 20px;
  margin-top: 20px;
  background-color: rgba(124, 58, 237, 0);
  border-radius: 11px;
}

.gallery .element h1, p {
  margin-left: 20px;
  margin-right: 20px;
}

.gallery .element h1 {
  font-family: Poppins,sans-serif;
}

a {
  text-decoration: none;
}